input{
    width: 230px;
    height: 35px;
    border: 1px solid darkgrey;
    border-radius: 2px;
    font-size: 20px;
    color: black;
    margin-right: 10px;
    padding: 0 5px;

}

input::placeholder{
    font-size: 15px;
    color: lightgrey;

}